openapi: 3.0.0
info:
  title: Securities - Basic 1.0.0
  description: Access to data concerning the securities traded on TASE, which include the lists and types of securities, their index classification and the classification of securities to the maintenance, illiquid securities and other lists.
  version: 1.0.0
  x-git:
    repo: http://gitappdvl1:7990/scm/maya/datahub.git
    branch: development
    commit: ca3cb7efb
  x-build-info:
    build-number: "181"
    spec-version: 1.0.0
    artifact-version: 1.0.0.181
    pipeline-version: origin/release/konnect/2.2.0
servers:
  - url: "https://datawise.tase.co.il"
    description: "Tase API"
# tags:
#   - name: Please enter a tag (optional, you can set more than 1 tag)
#     description: Please enter a tag description (optional)
paths:
  /v1/basic-securities/trade-securities-list/{year}/{month}/{day}:
    get:
      tags:
        - APIs
      summary: Traded Securities List
      description: In this interface, extensive current and historical data can be found for the list of issuers and securities traded on the Tel Aviv Stock Exchange.
      operationId: getTradeSecuritiesList
      parameters:
        - in: path
          name: year
          required: true
          description: Enter specific year
          schema:
            type: integer
            minimum: 1999
            maximum: 2030
            example: 2019
        - in: path
          name: month
          required: true
          description: Enter specific month
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 4
        - in: path
          name: day
          required: true
          description: Enter specific day
          schema:
            type: integer
            minimum: 1
            maximum: 31
            example: 12
        - in: header
          name: accept-language
          schema:
            type: string
            enum:
              - en-US
              - he-IL
            default: he-IL
          required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradeSecuritiesListResponse"
        "400":
          description: Invalid status value
  /v1/basic-securities/delisted-securities-list/{year}/{month}:
    get:
      tags:
        - APIs
      summary: Delisted Securities List
      description: In this interface, a list of the companies listed on the Tel Aviv Stock Exchange can be found.
      operationId: getDelistedSecuritiesList
      parameters:
        - in: path
          name: year
          required: true
          description: Enter specific year
          schema:
            type: integer
            minimum: 1999
            maximum: 2030
            example: 2019
        - in: path
          name: month
          required: true
          description: Enter specific month
          schema:
            type: integer
            minimum: 1
            maximum: 12
            example: 4
        - in: header
          name: accept-language
          schema:
            type: string
            enum:
              - en-US
              - he-IL
            default: he-IL
          required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DelistedSecuritiesListResponse"
        "400":
          description: Invalid status value
  /v1/basic-securities/companies-list:
    get:
      tags:
        - APIs
      summary: Companies List
      description: In this interface, a list of securities that have been delisted from the Tel Aviv Stock Exchange can be found.
      operationId: getCompaniesList
      parameters:
        - in: header
          name: accept-language
          schema:
            type: string
            enum:
              - en-US
              - he-IL
            default: he-IL
          required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompaniesListResponse"
        "400":
          description: Invalid status value
  /v1/basic-securities/illiquid-maintenance-suspension-list:
    get:
      tags:
        - APIs
      summary: Illiquid Maintenance and Suspension list
      description: In this interface, the maintenance, suspension and illiquid securities lists for the securities traded on the Tel Aviv Stock Exchange can be found for the next trading day.
      operationId: getIlliquidMaintenanceSuspensionList
      parameters:
        - in: header
          name: accept-language
          schema:
            type: string
            enum:
              - en-US
              - he-IL
            default: he-IL
          required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/IlliquidMaintenanceSuspensionListResponse"
        "400":
          description: Invalid status value
  /v1/basic-securities/trading-code-list:
    get:
      tags:
        - APIs
      summary: Trading Code List
      description: In this interface, the trading codes’ list of the Tel Aviv Stock Exchange can be found.
      operationId: getTradingCodeList
      parameters:
        - in: header
          name: accept-language
          schema:
            type: string
            enum:
              - en-US
              - he-IL
            default: he-IL
          required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TradingListCodeResponse"
        "400":
          description: Invalid status value
  /v1/basic-securities/securities-types:
    get:
      tags:
        - APIs
      summary: Securities Types
      description: In this interface, the types of securities traded on the Tel Aviv Stock Exchange can be found.
      operationId: getSecurityTypes
      parameters:
        - in: header
          name: accept-language
          schema:
            type: string
            enum:
              - en-US
              - he-IL
            default: he-IL
          required: true
      responses:
        "200":
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SecurityTypeResponse"
        "400":
          description: Invalid status value
components:
  schemas:
    CompaniesListResponse:
      type: object
      description: List of companies traded on the Tel Aviv Stock Exchange.
      properties:
        companiesList:
          type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  companyName:
                    type: string
                    description: Company Name
                    example: HAMLET
                  taseSector:
                    type: string
                    description: TASE Sector
                    example: REAL - INDUSTRY - METAL & BUILDING PRODUCTS
                  companyFullName:
                    type: string
                    description: Full Company Name
                    example: HAM-LET (ISRAEL-CANADA) LTD.
                  issuerId:
                    type: integer
                    description: Issuer Number
                    example: 76
                  corporateId:
                    type: string
                    description: Corporate Number
                    example: 520041187
                  isDual:
                    type: boolean
                    description: Is Dual Company
                    example: false
            total:
              type: integer
              description: Total items
              example: 532
      xml:
        name: CompaniesListResponse
    DelistedSecuritiesListResponse:
      type: object
      description: >-
        List of companies delisted from trading on the Tel Aviv Stock Exchange (as of 2008).
      properties:
        delistedSecuritiesList:
          type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  securityId:
                    type: integer
                    description: Security Number
                    example: 1083237
                  securityName:
                    type: string
                    description: Security Name
                    example: SOLEGREEN    W5
                  symbol:
                    type: string
                    description: Security Symbol
                    example: SLGN.W5
                  dateLastTrade:
                    type: string
                    format: date
                    example: "2019-04-08T00:00:00.000"
                    description: Date of Last Trade
            total:
              type: integer
              description: Total items
              example: 30
      xml:
        name: DelistedSecuritiesListResponse
    IlliquidMaintenanceSuspensionListResponse:
      type: object
      description: >-
        illiquid maintenance and Suspension list of companies securities traded on the Tel Aviv Stock Exchange in the next trading day.
      properties:
        tradingListCode:
          type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  securityID:
                    type: integer
                    description: Secutirty ID number
                    example: 111013
                  listTypeId:
                    type: string
                    description: List Type
                    example: 1
                  statusDate:
                    type: string
                    description: Status Date
                    example: "2023-07-16"
            total:
              type: integer
              description: Total items
              example: 30
      xml:
        name: IlliquidMaintenanceSuspensionListResponse
    SecurityTypeResponse:
      type: object
      description: List of security types codes.
      properties:
        securitiesTypes:
          type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  securityMainTypeDesc:
                    type: string
                    description: Security main type code
                    example: SHARE
                  securityMainTypeCode:
                    type: string
                    description: Security main type description
                    example: "01"
                  securityFullTypeCode:
                    type: string
                    description: Security Full Type Code
                    example: "0101"
                  securityTypeDesc:
                    type: string
                    description: Security type Desc
                    example: Ordinary Share
            total:
              type: integer
              description: Total items
              example: 33
      xml:
        name: SecurityTypeResponse
    TradeSecuritiesListResponse:
      type: object
      description: List of companies and their classification by sector
      properties:
        tradeSecuritiesList:
          type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  securityId:
                    type: integer
                    description: Security Number
                    example: 1132687
                  securityFullTypeCode:
                    type: string
                    description: Security Full Type Code
                    example: "0101"
                  isin:
                    type: string
                    description: ISIN
                    example: IL0011326878
                  securityName:
                    type: string
                    description: Security Name
                    example: MEGA OR
                  symbol:
                    type: string
                    description: Security Symbol
                    example: MGOR.B5
                  companySuperSector:
                    type: string
                    description: Company Supersector
                    example: Real
                  companySector:
                    type: string
                    description: Company Sector
                    example: Real-Estate & Construction
                  companySubSector:
                    type: string
                    description: Company Subsector
                    example: Income-Producing Real Estate
                  securityIsIncludedInContinuousIndices:
                    type: array
                    description: Security is Included in Continuous Indices
                    items:
                      type: integer
                      description: Index id
                      example:
                        - 142
                        - 161
                        - 162
                  corporateId:
                    type: string
                    description: Corporate Number
                  issuerId:
                    type: integer
                    description: Issuer Number
                  companyName:
                    type: string
                    description: Issuer Name
            total:
              type: integer
              description: Total items
              example: 22
      xml:
        name: TradeSecuritiesListResponse
    TradingListCodeResponse:
      type: object
      description: list codes for trading on the Tel Aviv Stock Exchange.
      properties:
        tradingListCode:
          type: object
          properties:
            result:
              type: array
              items:
                type: object
                properties:
                  listTypeId:
                    type: integer
                    description: List Type Id
                    example: 1
                  listTypeDesc:
                    type: string
                    description: List Type Desc Eng
                    example: MAINTENANCE LIST
            total:
              type: integer
              description: Total items
              example: 3
      xml:
        name: TradingListCodeResponse
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: apikey
security:
  - apiKey: []
